body, ul {
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 30px;   
}
  
nav ul {
    list-style: none; /* Remover os marcadores de lista padrão */
    padding: 0; /* Remover o preenchimento padrão */
    display: flex; /* Tornar a lista flexível */
    padding-top: 50px;
    padding-block-end: 2px;
    justify-content: flex-start; /* Alinhar os itens à direita */
    margin: 0; /* Remover margem padrão para evitar espaçamento não desejado */
    margin-right: 80px;
}
  
nav li {
    margin-right: 20px; /* Adicionar espaçamento entre os itens (pode ajustar conforme necessário) */
}

nav a {
    text-decoration: none;
    color: #B22222	;
}

 .logo-item {
    margin-right: auto; /* Empurra a logo para a borda esquerda */
    margin-left: 40px;
} 


footer {
    text-align: center; /* Centralizar o conteúdo dentro do elemento pai */
    padding-top: 530px; /* Adicionar algum espaço no topo, ajuste conforme necessário */
}

footer p {
    margin-bottom: 10px; /* Ajustar a margem inferior conforme necessário */
}

.paragrafo {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    align-items: start;
    margin-left: auto;
    margin-right: 70px;
    color: #B22222	;
}

.conteudo {
    display: inline-flex;
    align-items: center;
    
    /* width: 60%; */
    /* font-family: Arial, Helvetica, sans-serif, sans-serif; */
    /* margin-top: 100px; */
    /* margin-left: auto; */
    /* margin-right: 40px; */
}

p {
    font-size: 18px;
    font-weight: bold;
}

.imagem {
    width: 40%;
    text-align: right;
}

.efeito-imagem {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%; /* Garante que a imagem preencha a largura da sua área pai */
}