body, ul {
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 30px;   
    /* margin-top: 70px; */
}
  
nav ul {
    list-style: none; /* Remover os marcadores de lista padrão */
    padding: 0; /* Remover o preenchimento padrão */
    display: flex; /* Tornar a lista flexível */
    padding-top: 50px;
    padding-block-end: 2px;
    justify-content: flex-start; /* Alinhar os itens à direita */
    margin: 0; /* Remover margem padrão para evitar espaçamento não desejado */
    margin-right: 80px;
}
  
nav li {
    margin-right: 20px; /* Adicionar espaçamento entre os itens (pode ajustar conforme necessário) */
}

nav a {
    text-decoration: none;
    color: #B22222	;
}

.logo-item {
    margin-right: auto; /* Empurra a logo para a borda esquerda */
    margin-left: 40px;
}

footer {
    text-align: center; /* Centralizar o conteúdo dentro do elemento pai */
    padding-top: 170px; /* Adicionar algum espaço no topo, ajuste conforme necessário */
}

footer p {
    margin-bottom: 10px; /* Ajustar a margem inferior conforme necessário */
}

.foto-produto-capa {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
}


.color1 {
    color: #B22222;
}

div p {
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/*
https://br.freepik.com/psd-premium/modelo-de-design-de-interface-do-usuario-da-web-da-pagina-de-destino-do-menu-de-comida-de-restaurante_27504784.htm/
https://kinsta.com/pt/blog/pagina-sobre-nos/
*/